<!DOCTYPE html>
<html lang="en">

<head>
    <title>Test</title>
</head>

<body>

    <h1>Uploading Functions</h1>

    <h2>Filter 1: Select Database</h2>
    <form id="myform4" action="/filter4" , method="POST" enctype="multipart/form-data">
        <label for="filterUP">Filter DB</label>
        <select name="filterUP" id="filterUP">
            <% dbList.forEach(function(name) { %>
                <option value="<%= name %>">
                    <%= name %>
                </option>
                <% }); %>
        </select>
        <button type="submit">Submit</button>
    </form>

    <h2>Filter 2: Select Collections</h2>
    <form id="myform5" action="/filter5" , method="POST" enctype="multipart/form-data">
        <label for="filterUP">Filter Collections</label>
        <select name="filterUP" id="filterUP">
        </select>

        <label for="pdfName">PDF Name</label>
        <input type="text" name="pdfName" id="pdfName" required>

        <br> <br>

        <label for="file">Select PDF</label>
        <input type="file" name="pdf">

        <button type="submit">Submit</button>
    </form>

    <h3>------------------------------------------------------------------------</h3>
    <h1>Downloading Functions</h1>

    <h2>Filter 1: Select Database</h2>
    <form id="myform1" action="/filter1" , method="POST" enctype="multipart/form-data">
        <label for="filter">Filter DB</label>
        <select name="filter" id="filter">
            <% dbList.forEach(function(name) { %>
                <option value="<%= name %>">
                    <%= name %>
                </option>
                <% }); %>
        </select>
        <button type="submit">Submit</button>
    </form>

    <h2>Filter 2: Select Collections</h2>
    <form id="myform2" action="/filter2" , method="POST" enctype="multipart/form-data">
        <label for="filter2">Filter Collections</label>
        <select name="filter2" id="filter2">
        </select>
        <button type="submit">Submit</button>
    </form>

    <h2>Filter 3: Select Data</h2>
    <form id="myform3" action="/filter3" , method="POST" enctype="multipart/form-data" target="_blank">
        <label for="filter3">Filter Data</label>
        <select name="filter3" id="filter3">
        </select>
        <button type="submit">Submit</button>
    </form>

    <br> <br>

    <div id="download">
    </div>

    <h3>------------------------------------------------------------------------</h3>

    <h2>Search all over</h2>
    <form action="/search" method="POST" enctype="multipart/form-data">
        <label for="search">Search for:</label>
        <input type="text" name="search" id="search">
        <button type="submit">Submit</button>
    </form>

    <!-- import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#myform1').submit(function (event) {
                event.preventDefault();
                // const data = $("#filter").val();
                // const url = $("#myform1").attr('action')

                const form = $(this);
                const url = form.attr('action');
                const data = form.serialize();
                // console.log(url);
                $.post(url, data, function (response) {
                    // console.log(response);
                    $("#myform2 select").empty();
                    response.forEach(function (name) {
                        $("#myform2 select").append(
                            '<option value="' + name + '">' + name + '</option>'
                        )
                    })

                });
            })

            $('#myform2').submit(function (event) {
                event.preventDefault();
                const form = $(this);
                const url = form.attr('action');
                const data1 = $("#myform1 select").val();
                const data2 = $("#myform2 select").val();

                const data = {
                    "data1": data1,
                    "data2": data2,
                }

                $.post(url, data, function (response) {
                    // console.log(response);
                    $("#myform3 select").empty();
                    response.forEach(function (name) {
                        $("#myform3 select").append(
                            '<option value="' + name + '">' + name + '</option>'
                        )
                    })
                });
            })

            $('#myform3').submit(function (event) {
                event.preventDefault();
                const form = $(this);
                const url = form.attr('action');
                const data1 = $("#myform1 select").val();
                const data2 = $("#myform2 select").val();
                const data3 = $("#myform3 select").val();

                const data = {
                    "data1": data1,
                    "data2": data2,
                    "data3": data3,
                }

                $.post(url, data, function (response) {
                    // console.log(response);
                    $("#download").empty();
                    $("#download").append(
                        '<form method="POST" target="_blank"><a href="/preview">Preview the File</a></form>', '<br><br>',
                        '<a href="/download">Download the File</a>'
                    )


                })
            })

            $('#myform4').submit(function (event) {
                event.preventDefault();
                const form = $(this);
                const url = form.attr('action');
                const data = form.serialize();
                // console.log(url);
                $.post(url, data, function (response) {
                    // console.log(response);
                    $("#myform5 select").empty();
                    response.forEach(function (name) {
                        $("#myform5 select").append(
                            '<option value="' + name + '">' + name + '</option>'
                        )
                    })

                });
            })

        })
    </script>
</body>

</html>